<section class=" text-gray-900 dark:text-gray-100  w-full">
  <div class="max-w-lg">
    <h2 class="text-2xl font-bold mb-4 text-slate-800 dark:text-slate-100">Присоединяйтесь к обсуждению!</h2>
    <p class="text-lg mb-4">Задать вопросы и поделиться своим опытом можно в наших группах:</p>
    <ul class="list-disc list-inside text-left space-y-2 pl-4">
      <li><a href="https://t.me/docode_ru" target="_blank" class="text-white-600 underline" rel="noopener">Подписывайтесь в Telegram</a></li>
      <li><a href="https://t.me/DoCodeChat" target="_blank" class="text-white-600 underline">t.me/DoCodeChat</a></li>
      <li><a href="https://vk.com/docode" target="_blank" class="text-white-600 underline">vk.com/docode</a></li>
      <li><a href="https://discord.gg/zjqNCTDm" target="_blank" class="text-white-600 underline">discord.gg/zjqNCTDm</a></li>
    </ul>
  </div>
</section>
